 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
         <div class="container">
         <%= link_to root_path do %>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                
                <p class="navbar-brand page-scroll" >
                    <span class="light">OO</span> Studio
                </>
                <%end%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    <li><%= link_to"Storybook",blog_posts_path%></li>
                    
                    <li><%= link_to"Work",projects_path%></li>
                   <% if user_signed_in? %>
                       <li><%= link_to"My story",oo_path(current_user)%></li>
                   <% else %>
                    <li><%= link_to"Tell your story",join_path%></li>
                   <%end%>
<!--                     <% if user_signed_in? %>
                    <li><%= link_to"My story",oo_path(current_user)%></li>
                    <% else %>
                    <li><%= link_to"Tell your story",join_path%></li>
                    <%end%> -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<h1>Update my story</h1>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<%= form_for @blog, url: blog_post_path do |f| %>
<fieldset>
<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>
<div>
    <%= f.label :content %>
    <%= f.text_field :content %>
</div>
<div>
    <%= f.label :category %>
<%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
</div>
<div>
    <%= f.label :image %>
    <%= f.file_field :image%>
</div>

</fieldset>
<%=f.submit "Add"%>
<%end%>

<%= link_to "Cancel", blog_posts_path %>