<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio blog</title>


    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= render 'shared/nav' %>


<div class="container">
  <div class="row">
      <div class="col-md-8 col-md-offset-0">
          <div class="search-preview flex-parent">  
    <!-- search bar and edit -->
              <%= form_tag blog_posts_path, method: :get do %>
              <%=  text_field_tag :search, @search, :class=>"search-input",:placeholder=>"Enter your search here"%> 
               <%= submit_tag("Search",  :class=>"search-title") %>
              <% end %>  
         </div>
       </div>
    </div>

    <!-- display search result if search otherwise category -->
    <% if @search %>
    <div class="row">
        <div class="col-md-8 col-md-offset-0">
           <div class="post-preview">  
                 <% @blogs_search.each do |blog| %>
                    <%= link_to blog_post_path(blog) do %>
                      <div class="blog col-lg-3 col-md-3 col-sm-4">
                        <%= image_tag blog.image_url(:thumb), class:"media-object"%>
                      </div> 
                      <h4 class="post-title">
                            <%= blog.title %>
                      </h4>
                      <div class="post-subtitle">
                          <p> <%= blog.content %> </p>
                      </div>
                      <% end %>
                    <!-- show user's name and direct to dashboard -->
                    <%= link_to oo_path(blog.user) do %>
                     <div class="post-username">
                                    <%= blog.user.name %>
                    </div>
                    <%end%>
                    <p class="post-time"><%= blog.created_at.strftime("%b %d, %Y")%></p>
                     <!--  display votes -->
                      <div class="vote">
                               <%=link_to(blog_post_vote_up_path(blog),:method=>:post) do %>
                               <i class="glyphicon glyphicon-heart btn-default bg-red"></i>
                               <%end%>
                               <span class="btn btn-red"><%= blog.votes_for%></span>
                      </div>
                <!-- end of loop -->
                <% end %>
             </div>
            <hr>
          </div>
      </div>
    <%else%>



     <div class="row">
        <div class="col-md-8 col-md-offset-0">
            <div class="post-preview">
                 <% @blogs.each do |blog| %>
                    <%= link_to blog_post_path(blog) do %>
                    <div class="blog col-lg-3 col-md-3 col-sm-4">
                              <%= image_tag blog.image_url(:thumb), class:"media-object"%>
                      </div>
                       <div class="blog col-lg-9 col-md-9 col-sm-8">
                                <h4 class="post-title">
                                    <%= blog.title %>
                                </h4>
                                <div class="post-subtitle">
                                    <p>
                                    <%= blog.content %>
                                    </p>
                                </div>
                            <% end %>
                            <!-- show user's name and direct to dashboard -->
                            <div>
                          <%= link_to oo_path(blog.user) do %>
                            <div class="post-username">
                                    <%= blog.user.name %>
                            </div>
                            <%end%> 
                             <p class="post-time"><%= blog.created_at.strftime("%b %d, %Y")%></p>
                          </div>
                      </div>
                    <!--  display votes -->
                    <div class="vote">
                       <%=link_to(blog_post_vote_up_path(blog),:method=>:post) do %>
                       <i class="glyphicon glyphicon-heart btn-default bg-red"></i>
                       <%end%>
                       <span class="btn btn-red"><%= blog.votes_for%></span>
                    </div>
                <!-- end of loop -->
                <% end %>
              </div>
              <hr>
          </div>
       </div>
    <div class="col-md-8 col-md-offset-0">   
            <%= will_paginate @blogs %>
    </div>
               
         
 </div>

      
 <%end%>
   

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; OOStudio 2015</p>
        </div>
    </footer>
</body>

</html>
