<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
         <div class="container">
         <%= link_to root_path do %>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                
                <p class="navbar-brand page-scroll" >
                    <span class="light">OO</span> Studio
                </>
                <%end%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    <li><%= link_to"Storybook",blog_posts_path%></li>
                    
                    <li><%= link_to"Work",projects_path%></li>
                   <% if user_signed_in? %>
                       <li><%= link_to"My story",oo_path(current_user)%></li>
                   <% else %>
                    <li><%= link_to"Tell your story",join_path%></li>
                   <%end%>
<!--                     <% if user_signed_in? %>
                    <li><%= link_to"My story",oo_path(current_user)%></li>
                    <% else %>
                    <li><%= link_to"Tell your story",join_path%></li>
                    <%end%> -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Inspirations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Interviews</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">News</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
   




<!create new and search bar>
<%= link_to "create a new post", new_blog_post_path %>

<h3>Search Title or Category Here:</h3>
<%=  form_tag blog_posts_path, method: :get do %>
  <%=  text_field_tag :q  %>
  <%=  submit_tag "Search" %>
<% end %>



  <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                 <% @blogs.each do |blog| %>
            
                    <%= link_to blog_post_path(blog) do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blog.content %>
                        </h3>
                    <% end %>
                    <%= link_to oo_path(blog.user) do %>
                    <h3 class="post-subtitle">
                            <%= blog.user.email %>
                        </h3>
                       <%end%> 
                   
                    <% end %>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <section id="about">
           <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
               <% @blogs.each do |blog| %>
               <%if blog.category_id == 1%>
                    <%= link_to blog_post_path(blog) do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blog.content %>
                        </h3>
                    <% end %>
                    <%= link_to oo_path(blog.user) do %>
                    <h3 class="post-subtitle">
                            <%= blog.user.email %>
                        </h3>
                       <% end %> 
                       <%end%> 
                    <% end %>
                     <ul class="pager">
                    <li class="next">
                    </li>
                </ul>
          </div>
        </div>
    </div>

        <section id="download">
           <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
               <% @blogs.each do |blog| %>
               <%if blog.category_id == 3%>
                    <%= link_to blog_post_path(blog) do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blog.content %>
                        </h3>
                    <% end %>
                    <%= link_to oo_path(blog.user) do %>
                    <h3 class="post-subtitle">
                            <%= blog.user.email %>
                        </h3>
                       <% end %> 
                       <%end%> 
                    <% end %>
          </div>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
