<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio blog</title>


    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= render 'shared/nav' %>

<%=image_tag "about-bg.jpg", :class=> "img-responsive"%>


            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                    </br></br></br>
                      <!-- search bar and edit -->
                      <h3>Search Title or Content Here:</h3>
                      <%= form_tag blog_posts_path, method: :get do %>
                      <%=  text_field_tag 'search', @search %>
                      <%=  submit_tag "Search" %>
                      <% end %>
                      <%= link_to new_blog_post_path  do%>
                      <p class="btn btn-default btn-lg">New Post</p>
                      <%end%>
                    </div>
                </div>
            </div>

<br><br>

<!-- display search result if search otherwise category -->
<% if @search %>
<section>
 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                 <% @blogs_search.each do |blog| %>
                    <%= link_to blog_post_path(blog) do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <div class="post-subtitle">
                        <p>
                            <%= blog.content %>
                        </p>
                        </div>
                    <% end %>
                    <!-- show user's name and direct to dashboard -->
                    <%= link_to oo_path(blog.user) do %>
                    <a class="post-subtitle">
                            <%= blog.user.name %>  
                    </a>
                    <p><%= blog.created_at.strftime("%b %d, %Y")%></p>
                    <%end%>
                    
                     <!--  display votes -->
                    <div class="vote">
                       <%=link_to(blog_post_vote_up_path(blog),:method=>:post) do %>
                       <i class="glyphicon glyphicon-heart btn-default bg-red"></i>
                       <%end%>
                       <span class="btn btn-red"><%= blog.votes_for%></span>
                    </div>
                <!-- end of loop -->
                <% end %>
                </div>
                <hr>
            </div>
        </div>
        </div>
        </section>
<%else%>
  <!-- Main Content -->
    <section id="inspiration">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                 <% @blogs.each do |blog| %>
                    <%= link_to blog_post_path(blog) do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <div class="post-subtitle">
                          <p>
                              <%= blog.content %>
                          </p>
                        </div>
                    <% end %>
                    <!-- show user's name and direct to dashboard -->
                    <%= link_to oo_path(blog.user) do %>
                    <a class="post-subtitle">
                            <%= blog.user.name %>
                    </a>
                    <%end%> 
                     <p><%= blog.created_at.strftime("%b %d, %Y")%></p>
                    <!--  display votes -->
                    <div class="vote">
                       <%=link_to(blog_post_vote_up_path(blog),:method=>:post) do %>
                       <i class="glyphicon glyphicon-heart btn-default bg-red"></i>
                       <%end%>
                       <span class="btn btn-red"><%= blog.votes_for%></span>
                    </div>
                <!-- end of loop -->
                <% end %>
                </div>
                <hr>
            </div>
        </div>
        </div>
    </section>




      
 <%end%>
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="#">Older Posts &rarr;</a>
        </li>
    </ul>

    <hr>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; OOStudio 2015</p>
        </div>
    </footer>
</body>

</html>
