<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="/assets/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
<body>
    <!-- the navigation bar -->
   <!-- Navigation -->
<%= render 'shared/nav' %>

<br><br><br><br><br><br>
<!--content-->
<div class="container">
<div class="row">
<h1>Here is your well-written post</h1>
<p><%= @blog.title %></p>
<p><%= @blog.content %></p>
<% if  @blog.videolink.present? %>

<iframe title="YouTube video player" width="640" height="390" src=<%= @blog.videolink%> frameborder="0" allowfullscreen></iframe>
<%end%>
<p><%= @blog.user.name %></p>
<p><%= image_tag @blog.image_url%></p>
<p><%= link_to "Edit", edit_blog_post_path %></p>
<p><%= link_to "Delete", blog_post_path(@blog), method: "DELETE" %></p>
</div>
</div>
</body>