<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Storybook</title>

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <%= render 'shared/nav' %>

    <br><br><br><br><br><br>
    <!--content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br><br><br><br><br><br>
                <!--content-->
                
                <h2><%= @blog.title %></h2>
                <h3>By <%= @blog.user.name %></h3>
                <p><%= simple_format(@blog.content) %></p>
                <% if  @blog.videolink.present? %>

                <iframe title="YouTube video player" width="640" height="390" src=<%= @blog.videolink%> frameborder="0" allowfullscreen></iframe>
                <%end%>

                <p><%= image_tag @blog.image_url%></p>

                <!-- Start of control panel of blogs -->
                <% if current_user ==@blog.user%>
                    <%= link_to edit_blog_post_path do%>
                    <p class="btn btn-default btn-lg">Edit</p>
                    <%end%>
                    <%= link_to blog_post_path(@blog), method: "DELETE" do%>
                    <p class="btn btn-default btn-lg">Delete</p>
                    <%end%>
                <%else%>
                    <div class="vote">
                    <%=link_to(blog_post_vote_up_path(@blog),:method=>:post) do %>
                    <i class="glyphicon glyphicon-heart btn-default bg-red"></i>
                    <%end%>
                    <span class="btn btn-red"><%= @blog.votes_for%></span>
                    </div>
                <%end%>
            </div>
        </div>
    </div>



</body>

</html>