<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 60%; width: 60%;}
    </style>

</head>
<body>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
    <li><%= link_to"Studio",about_path%></li>
    <li><%= link_to"Blog",blog_posts_path%></li>
    <li><%= link_to"Work",projects_path%></li>
    <% if user_signed_in? %>
    <li><%= link_to"My story",oo_path(current_user)%></li>
    <% else %>
    <li><%= link_to"Tell your story",join_path%></li>
   <%end%>

    </ul>
    </div>


<p>Oostudio </p>
<p> oostudio is a photography studio based in Washington DC. </p>
<p> Our email address is oostudio2dian@gmail.com </p>
    <div id="map"></div>

    <script type="text/javascript">

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 38.884, lng: -77.016},
    zoom: 12
  });

  var styles = [
  {
    stylers: [
      { hue: "#00ffe6" },
      { saturation: -20 }
    ]
  },{
    featureType: "road",
    elementType: "geometry",
    stylers: [
      { lightness: 100 },
      { visibility: "simplified" }
    ]
  },{
    featureType: "road",
    elementType: "labels",
    stylers: [
      { visibility: "off" }
    ]
  }
];
  map.setOptions({styles: styles});

     var projectLocs = #{raw @projects_list};
    var image = 'http://labs.google.com/ridefinder/images/mm_20_white.png';
    for (var i = 0; i < projectLocs.length; i++) {
        var projectLoc = projectLocs[i];
        var marker = new google.maps.Marker({
          position: {lat: projectLoc[1], lng: projectLoc[2]},
          map: map,
          icon: image,
          title: projectLoc[0],
          zIndex: projectLoc[3]
    });
    }

  });
  var secretMessage =  "old navy yard</br>" +
                      '<img src="http://41.media.tumblr.com/e979ae71b59eac64454a12a93c332c3b/tumblr_not2e5qkCJ1u9c74so1_1280.jpg" alt="Porcelain Factory of Vista Alegre" width="150" height="150" >' +
                      '<p>duoduo engagement photo</p>' +
                       '<p><a href="http://localhost:3000/projects">'+ 
                       'More pictures</a> '

  function attachSecretMessage(marker, secretMessage) {
  var infowindow = new google.maps.InfoWindow({
    content: secretMessage,
    maxWidth: 500
  });
  marker.addListener('click', function() {
    infowindow.open(marker.get('map'), marker);
  });
  google.maps.event.addListener(map, 'click', function() {
    infowindow.close();
  });
}
  attachSecretMessage(marker, secretMessage);
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXobtnTAieRk5q1VlKXLL6g660aSZRDPE&callback=initMap">
    </script>
  </body>
</html>
