

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Input Effects | Set 2</title>
    <meta name="description" content="Simple ideas for enhancing text input interactions" />
    <meta name="keywords" content="input, text, effect, focus, transition, interaction, inspiration, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/set2.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <title>Welcome to the meetup of DC</title>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<%= render 'shared/nav' %>

   </br></br></br>


<!-- <object type="image/svg+xml" data="/assets/badge-experience.svg" id="badge" onClick="alert('hello!');">Your experience badge</object> -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="254.987px" height="208.8px" viewBox="0 0 254.987 208.8" enable-background="new 0 0 254.987 208.8" xml:space="preserve" id="badge1">
<g id="Layer_3">
  <polygon fill="#FFFFFF" stroke="#000000" points="41.713,65.416 123.341,18.288 204.969,65.416 204.969,159.672 123.341,206.8 
    41.713,159.672  "/>
</g>
<g id="Layer_1">
  <rect x="41.713" y="106.839" id="rect1" fill="#d0d6d6" width="163.256" height="31.02"/>
</g>
<g id="Layer_2">
  <rect x="56.013" y="93.512" fill="none" width="134.656" height="39.234"/>
  <text transform="matrix(1 0 0 1 56.0132 125.336)" font-family="'Trattatello'" font-size="36">Experience</text>
</g>
<rect class="btn" x="0" y="0" width="254" height="239" onclick="complete(0)" />
</svg>


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="254.987px" height="197.00px" viewBox="0 0 254.987 208.592" enable-background="new 0 0 254.987 208.592"
   xml:space="preserve" id="badge2">
<g id="Layer_3">
  <polygon fill="#FFFFFF" stroke="#000000" points="41.713,67.208 123.341,20.08 204.969,67.208 204.969,161.464 123.341,208.592 
    41.713,161.464  "/>
</g>
<g id="Layer_1">
  <rect x="41.714" y="85.393" id="rect1" fill="#d0d6d6" width="163.256" height="31.02"/>
</g>
<g id="Layer_2">
  <rect x="56.013" y="86.202" fill="none" width="134.656" height="39.234"/>
  <text transform="matrix(1 0 0 1 56.0132 118.0257)" font-family="'Trattatello'" font-size="36">Exercise</text>
</g>
<rect class="btn" x="0" y="0" width="254" height="239" onclick="complete(1)" />
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="242.988px" height="197.00px" viewBox="0 0 242.988 197.36" enable-background="new 0 0 242.988 197.36"
   xml:space="preserve" id="badge3">
<g id="Layer_3">
  <polygon fill="#FFFFFF" stroke="#000000" points="29.714,55.937 111.342,8.809 192.97,55.937 192.97,150.193 111.342,197.321 
    29.714,150.193  "/>
</g>
<g id="Layer_1">
  <rect x="-218.989" y="-139.772" fill="none" width="340.483" height="149.659"/>
  <text transform="matrix(1 0 0 1 -218.9888 -85.0522)"><tspan x="0" y="0" font-family="'Menlo-Regular'" font-size="72">week </tspan><tspan x="0" y="86.4" font-family="'Menlo-Regular'" font-size="72">badge</tspan></text>
  <rect x="29.714" y="83.146" id="rect1" fill="#d0d6d6" width="163.256" height="31.02"/>
</g>
<g id="Layer_2">
  <rect x="44.014" y="74.931" fill="none" width="134.656" height="39.234"/>
  <text transform="matrix(1 0 0 1 44.0138 106.7545)" font-family="'Trattatello'" font-size="36">Knowledge</text>
</g>
<rect class="btn" x="0" y="0" width="254" height="239" onclick="complete(2)" />
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="223.489px" height="197.00px" viewBox="0 0 223.489 197.006" enable-background="new 0 0 223.489 197.006"
   xml:space="preserve" id="badge4">
<g id="Layer_3">
  <polygon fill="#FFFFFF" stroke="#000000" points="40.214,55.937 121.842,8.809 203.469,55.937 203.469,150.193 121.842,197.321 
    40.214,150.193  "/>
</g>
<g id="Layer_1">
  <rect x="40.214" y="79.038" id="rect1" fill="#d0d6d6" width="163.256" height="31.02"/>
</g>
<g id="Layer_2">
  <rect x="54.513" y="74.931" fill="none" width="134.656" height="39.234"/>
  <text transform="matrix(1 0 0 1 54.5133 106.7545)" font-family="'Trattatello'" font-size="36">Learn</text>
</g>
<rect class="btn" x="0" y="0" width="254" height="239" onclick="complete(3)" />
</svg>


<script>
      
      function complete(i){
          var color=["#BFD84D","#F7A9B1","#5CBA47","#3CC4E1" ]
          var badge=["badge1","badge2","badge3","badge4"]
          var badge = document.getElementById(badge[i]);
          var rect= badge.getElementById("rect1")
          rect.setAttributeNS(null, 'fill', color[i]);
          classie.add( badge.target.parentNode, 'completebadge' );

}
</script>


<section>
 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                <% @meetups.each do |meetup| %>
                    <%= link_to meetup_path(meetup) do %>
                        <h2 class="post-title">
                            <%= meetup.title %>
                        </h2>
                        <p> <%= meetup.description %>
                        </p>
                         <p><%= meetup.user.name %></p>
                          <p><%=meetup.created_at%></p>
                      
                    <% end %>
                <% end %>
                </div>
                <hr>
            </div>
        </div>
        </div>
        </section>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!-- basic info the organizer -->
<%=form_for @meetup, url: {action: "create"} do |f| %>
<section class="content-meetup">
        <h2>Your Meetup</h2>
        <span class="input input--yoshiko">
        <%= f.text_field :title, autofocus: true, class:"input__field input__field--yoshiko"%> 
          <label class="input__label input__label--yoshiko" for="title">
            <span class="input__label-content input__label-content--yoshiko" data-content="Meetup Title">Meetup Title</span>
          </label>
        </span>



         <span class="input input--yoshiko">
          <%= f.text_field :formatted_address, autofocus: true, class:"input__field input__field--yoshiko"%>
       
          <label class="input__label input__label--yoshiko" for="type">
            <span class="input__label-content input__label-content--yoshiko" data-content="Address">address</span>
          </label>
        </span>


         <span class="input input--yoshiko">
          <%= f.text_field :description, autofocus: true, class:"input__field input__field--yoshiko"%>
          <label class="input__label input__label--yoshiko" for="type">
            <span class="input__label-content input__label-content--yoshiko">Event description</span>
          </label>
        </span>


         <span class="input input--yoshiko">
          <%= f.datetime_field :time, class:"input__field input__field--yoshiko"%>
          <label class="input__label input__label--yoshiko" for="type">
            <span class="input__label-content input__label-content--yoshiko">Event time dd/mm/yy </span>
          </label>
        </span>
      </section>
<%=f.submit @meetup.new_record? ? "Create" : "Update", class:"button"%> 

<%end%>

    </div>
  </div>
</div>

</br></br></br>


  <script>




      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>








</body>
</html>