<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body>

<!-- Navigation -->
<%= render 'shared/nav' %>
<br><br><br><br><br><br>


 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                <h2>My event's information</h2>
                        <h3 class="post-title">
                        Title: <%= @meetup.title %>
                        </h3>
                        <h3 class="post-title">
                        Time: <%= @meetup.time %>
                        </h3>
                        <h3 class="post-title">
                        Address: <%= @meetup.formatted_address %>
                        </h3>
                    <div class="post-subtitle">
                        <p>
                        Description: <%= @meetup.description %>
                        </p>
                    </div>
                    <%= link_to edit_meetup_path do%>
                    <p class="btn btn-default btn-lg">Edit</p>
                    <%end%>
                    <%= link_to meetup_path(@meetup), method: "DELETE" do%>
                    <p class="btn btn-default btn-lg">Delete</p>
                    <%end%>
                </div>
            </div>
        </div>
   </div>

</body>

</html>