<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Navigation -->
<%= render 'shared/nav' %>
<br><br><br><br><br><br>


 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                <ul class="navbar-custom">
                        <p class="meetup-time">
                        <%= @meetup.time %>
                        </p>
                        <p class="meetup-title">
                        <%= @meetup.title %>
                        </p>
                        
                       <p class=meetup-host>
                        Hosted by <span class=meetup-host-name> <%= @meetup.user.name %> </span>
                        </p>
                        
                        <%= link_to "https://maps.google.com/?q=#{@meetup.formatted_address}" do%>
                        <p class="meetup-location">
                        Location : <span class="meetup-location-address"><%= @meetup.formatted_address %> </span>
                        <%end%>

                        <p class="meetup-description">
                         <%= @meetup.description %>
                        </p>
                  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@meetup.latitude},#{@meetup.longitude}&markers=#{@meetup.latitude},#{@meetup.longitude}&zoom=11&size=640x400&key=AIzaSyCx85uA_EOUwfCNnMC7K9K_tbNbZA50dWY", class: 'img-fluid img-rounded', alt: "#{@meetup.title} on the map"%>
                  <div class="card">
                  <div class="card-block">
                    <div id="map"></div>
                  </div>
                </div>
                   <br><br><br>
                    <%= link_to edit_meetup_path do%>
                    <p class="btn btn-default btn-lg">Edit</p>
                    <%end%>
                    <%= link_to meetup_path(@meetup), method: "DELETE" do%>
                    <p class="btn btn-default btn-lg">Delete</p>
                    <%end%>
                    </ul>
                </div>
            </div>
        </div>
   </div>



</body>

</html>