
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<%= form_for @user, url: oo_path(@user), html:{method: 'PATCH'} do |f| %>
				<fieldset>
				<div>
				    <%= f.label :name %>
				    <%= f.text_field :name %>
				</div>
				<div>
				    <%= f.label :story %>
				    <%= f.text_area :story, size: "80x12"%>
				</div>
				<div>
				    <%= f.label :avatar %>
				    <%= f.file_field :avatar %>
				</div>
				</fieldset>
				<div> <%=f.submit "Add", :class => 'btn btn-default btn-lg'%></div>
				<%end%>

            </div>
        </div>
    </div>
