<%= form_for @user, url: {controller: "oo", action: "update"}, :method => :POST do |f| %>
<fieldset>
<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<div>
    <%= f.label :story %>
    <%= f.text_field :story %>
</div>
<div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
</div>
</fieldset>
<%=f.submit "Add"%>
<%end%>