
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio</title>
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">OO</span> Studio
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#storybook">Storybook</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#projects">Projects</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#people">People</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                        <% if user_signed_in? %>
                            <li><%= link_to"My story",oo_path(current_user)%></li>
                        <% else %>
                        <li><%= link_to"Login",new_user_session_path%></li>
                        <%end%>

                        <li><%= link_to"Meetup",meetup_index_path%></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


<!-- Carousel -->
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%=image_tag @image1.name%>
          </div>

          <% @images.each do |image| %>
          <div class="item">
          <%= link_to project_path(image.project) do %>
          <%=image_tag image.name%>
          <%end%>
          </div>
          
          <%end%>
      </div>
       <!-- more slides here -->
     
    <!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


<!-- Blog Section -->
    <section id="storybook" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-12">
                    <h2 class="story_subtitle"><%= link_to"Storybook",blog_posts_path%></h2>
                    <p>See what our sweet couples are saying</p>

                     <%= link_to blog_post_path(@blog1) do %>
                          <div class="blog col-lg-3 col-md-3 col-sm-4">
                              <%= image_tag @blog1.image_url(:thumb), class:"media-object"%>
                              <p class="media-heading"><%=@blog1.title%></p>
                          </div>  
                      <%end%>

                      <%= link_to blog_post_path(@blog2) do %>
                         <div class="blog col-lg-3 col-md-3 col-sm-4">
                          <%= image_tag @blog2.image_url(:thumb), class:"media-object"%>
                          <p class="media-heading"><%=@blog2.title%></p>
                          </div>
                      <%end%>

                      
                      <%= link_to blog_post_path(@blog3) do %>
                         <div class="blog col-lg-3 col-md-3 col-sm-4">
                          <%= image_tag @blog3.image_url(:thumb), class:"media-object"%>
                          <p class="media-heading"><%=@blog3.title%></p>
                          </div>
                      <%end%>

                      <%= link_to blog_post_path(@blog4) do %>
                         <div class="blog col-lg-3 col-md-3 col-sm-4">
                          <%= image_tag @blog4.image_url(:thumb), class:"media-object"%>
                          <p class="media-heading"><%=@blog4.title%></p>
                          </div>
                      <%end%>

                </div>
                     
                   
                </div>
                
            </div>
        </div>
    </section>



<!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
             <%= link_to projects_path do %>
                <h2>Projects</h2>
                <%end%>
                   
            </div>
        </div>
    </section> 


<!-- Map Section -->

    <div id="map"></div>


<!-- People Section -->
    <section id="people" class="container content-section text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="story_subtitle">People</h2>
                     <p>More couples are being inspired by us!</p>

                    <div class="row">
                        <% @users.each do |user| %>
                        <div class="col-md-2 col-sm-2 col-xs-4">

                            <%= link_to oo_path(user) do %>                            
                                <div class="thumbnail">
                                  <%if user.avatar?%>
                                      <%=image_tag user.avatar_url(:thumb),:class=>"img-circle"%>
                                      <%else%>
                                      <%=image_tag "default_avatar.png"%>
                                      <%end%>
                                </div><!-- /thumbnail -->
                                <p class="btn btn-light"><%= user.name%></p>

                            <%end%>
                        </div>
                        <%end%>
                    
                     
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>



<!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact OOSTUDIO</h2>
                <p>OOSTUDIO is a creative photography studio located in Washington, DC. The studio is founded by an architectural designer Tina and a landscape architectural designer Yoyo in 2015. We love the dynamic and creative energy from people and hope we can bring design thinking and the context of the environment to the process of creating portrait photography. With the support of our beloved friends, we had many interesting projects. We can't wait to hear your story and have a great experience together.  </p>
                <p><a href="mailto:oostudio2dian@gmail.com">oostudio2dian@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="http://oostudio2dian.tumblr.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Tumblr</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/1/108512845084415481185" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                     <li>
                    <p class="btn btn-default btn-lg"><a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bTE2dWxrNDUzajA4b2g1czU4dnZnNTVvc2sgZmNyMmNmcXNhcm5iNTNjZ2hnODZqNW5rajRAZw&amp;tmsrc=fcr2cfqsarnb53cghg86j5nkj4%40group.calendar.google.com"> Make a reservation</a></p> 
                    </li>
                </ul>
            </div>
        </div>
    </section>



<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; OOStudio 2015</p>
    </div>
</footer>

 



<script type="text/javascript">
var map;
function initMap() {

 var mapOptions={
    // Disables the default Google Maps UI components
    disableDefaultUI: true,
    scrollwheel: false,
    draggable: true,
 }

map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var styles = [
    {
        "featureType": "administrative.province",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative.locality",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 65
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "saturation": "22"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 51
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "hue": "#a5ff00"
            },
            {
                "saturation": "80"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 30
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 40
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#ffff00"
            },
            {
                "lightness": -25
            },
            {
                "saturation": -97
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "lightness": -25
            },
            {
                "saturation": -100
            }
        ]
    }
];
  map.setOptions({styles: styles});

    // var projectLocs=[];
    // var infoWindowContent=[];
    // $.each(projects, function(index) { 
    //     projectLocs.push([projects[index]["title"], projects[index]["lat"],projects[index]["lng"]]);
    //     infoWindowContent.push(['<div class="info_content" >' +
    //     '<h3 style="color: rgb(<%= rand(0..200)%>,<%= rand(0..200)%> ,<%= rand(0..200)%>);">'+nearbys[index]['title']+'</h3>' +'</br>'+
    //     '<p>'+nearbys[index]['about']+'</p>' +       
    //      '</div>']);

    //     });  
    var bounds = new google.maps.LatLngBounds();
    var projectLocs = [["duoduo", 38.8738225, -76.9949, 1],["daojie", 38.897676, -77.036530,2],["yuan&chen",38.897855,-77.0226467,4],["yuan&chen2",38.9133116,-76.9696974,4]]
  /*   var projectLocs = <%= Project.pluck(:title, :lat, :lng, :id).to_json.html_safe %>*/
      var infoWindowContent =  ['<div class="infoWindow">' + 
                                "<h4 class='media-heading'>Duoduo's engagement photo</h4>" +
                                '<img class="img-responsive media-object" src="http://41.media.tumblr.com/e979ae71b59eac64454a12a93c332c3b/tumblr_not2e5qkCJ1u9c74so1_1280.jpg" >' + 
                                '<a href="http://www.oostudio.org/projects">'+ 
                                'More pictures</a>'+ 
                                '</div>', 

                                '<div class="infoWindow">' + 
                                "<h4 class='media-heading'>daojie</h4>" + 
                                '<img class="img-responsive media-object" src="https://40.media.tumblr.com/6411b8bcdb31bbf3cbce192d1e4252de/tumblr_o0kdd3vj9Y1u9c74so1_540.jpg" >' + 
                                '<a href="http://www.oostudio.org/projects">'+
                                'More pictures</a>' + 
                                '</div>', 

                                '<div class="infoWindow">' +
                                "<h4 class='media-heading'>Yuan&chen</h4>" +
                                '<img class="img-responsive media-object" src="https://41.media.tumblr.com/159adf28068b0b2143e63c249ca70f93/tumblr_nk2oedqjpI1u9c74so1_1280.jpg" >' +
                                '<a href="http://www.oostudio.org/projects">'+ 
                                'More pictures</a>' + 
                                '</div>', 

                                '<div class="infoWindow">' +
                                "<h4 class='media-heading'>Yuan&Chen2</h4>" + 
                                '<img class="img-responsive media-object" src="https://40.media.tumblr.com/c43b7fe91d1d71df24f45aa649d409b6/tumblr_nk2nj5gxan1u9c74so1_1280.jpg" >' +
                                '<a href="http://www.oostudio.org/projects">'+ 
                                'More pictures</a>' +
                                '</div>'
                                ]

    var image = 'http://labs.google.com/ridefinder/images/mm_20_white.png';
    var infoWindow = new google.maps.InfoWindow, marker, i; 
    for (var i = 0; i < projectLocs.length; i++) {
        var position = new google.maps.LatLng(projectLocs[i][1], projectLocs[i][2]);
        bounds.extend(position);
        var projectLoc = projectLocs[i];
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          icon: image,
          title: projectLoc[0]
    });
 // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

    map.fitBounds(bounds);
    map.panToBounds(bounds);    


    }

}

</script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=ENV[GOOGLE_MAP_API]&callback=initMap">

    </script>
</body>

</html>
