
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <%link_to root_path do%>
                <p class="navbar-brand page-scroll">
                    <span class="light">OO</span> Studio
                </p>
                <%end%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#storybook">Storybook</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#people">People</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% if user_signed_in? %>
                    <li><%= link_to"My story",oo_path(current_user)%></li>
                    <% else %>
                    <li><%= link_to"Tell your story",join_path%></li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">OO</h1>
                        <p class="intro-text"><a href="mailto:oostudio2dian@gmail.com">OO Studio</a> is a photography studio based in Washington DC.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Blog Section -->
    <section id="storybook" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Storybook</h2>
                    <p>See what our sweet couples are saying.</p>
                     <%= link_to blog_post_path(@blog1) do %>
                    <div class="media blog">
                      <div class="media-left">
                          <div class="thumbnail">
                          <img class="media-object" src="<%=@blog1.image%>"alt="OO">
                          </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Story 1</h4>
                        <p><%=@blog1.title%></p>
                      </div>
                    </div>
                     <%end%>
                      <%= link_to blog_posts_path do %>
                    <a class="btn btn-default btn-lg">See more...</a>
                    <%end%>
                </div>
                
            </div>
        </div>
    </section>

<!--     <section id="storybook" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Storybook</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                   
            </div>
        </div>
    </section> 
    <!-- Map Section -->


    <div id="map"></div>

    <section id="people" class="container content-section text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>People</h2>

                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">  
                            <%= link_to oo_path(@user1) do %>                            
                                <div class="thumbnail">
                                      <%=image_tag @user1.avatar%>
                                </div><!-- /thumbnail -->
                                <a class="btn btn-light"><%= @user1.name%></a>
                            </div>
                            <%end%>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">    
                            <%= link_to oo_path(@user1) do %>                            
                                <div class="thumbnail">
                                    <%=image_tag @user1.avatar%>
                                </div><!-- /thumbnail -->
                                <a href="#" class="btn btn-light"><%=@user1.name%></a>
                            </div>
                             <%end%>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item"> 
                            <%= link_to oo_path(@user1) do %>                              
                                <div class="thumbnail">
                                    <img src="http://lorempixel.com/180/180/nature" alt="Marcel Newman">
                                </div><!-- /thumbnail -->
                                <a href="#" class="btn btn-light"><%=@user1.name%></a>
                                   <%end%>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">                              
                                <div class="thumbnail">
                                    <img src="http://lorempixel.com/180/180/abstract" alt="Marcel Newman">
                                </div><!-- /thumbnail -->
                                <a href="#" class="btn btn-light"><%=@user1.name%></a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">                              
                                <div class="thumbnail">
                                    <img src="http://lorempixel.com/180/180/nightlife" alt="Marcel Newman">
                                </div><!-- /thumbnail -->
                                <a href="#" class="btn btn-light"><%=@user1.name%></a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">                              
                                <div class="thumbnail">
                                    <img src="http://lorempixel.com/180/180/" alt="Marcel Newman">
                                </div><!-- /thumbnail -->
                                <a href="#" class="btn btn-light"><%=@user1.name%></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

     <! calendar Section >
    <!-- Map Section -->
    <div id="calendar">
<p><a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bTE2dWxrNDUzajA4b2g1czU4dnZnNTVvc2sgZmNyMmNmcXNhcm5iNTNjZ2hnODZqNW5rajRAZw&amp;tmsrc=fcr2cfqsarnb53cghg86j5nkj4%40group.calendar.google.com"> Make a reservation</a></p>  

<div id="divifm">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fcr2cfqsarnb53cghg86j5nkj4%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="200" frameborder="0" scrolling="no" position="center"></iframe>
                </div>
                </div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; OOStudio 2015</p>
        </div>
    </footer>

 
        <!-- jQuery -->
    <script type="text/javascript" src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="/assets/jquery.easing.min.js"></script>


     <script type="text/javascript" src="/assets/grayscale.js"></script>
     <%= javascript_include_tag 'grayscale'%>


<!--          <%= javascript_tag do%>
       window.projects= <%=raw @projects.to_json %>;
    <%end%> -->


     <script type="text/javascript">

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
  });
 var bounds = new google.maps.LatLngBounds();
  var styles = [
  {
    stylers: [
      { hue: "#00ffe6" },
      { saturation: -20 }
    ]
  },{
    featureType: "road",
    elementType: "geometry",
    stylers: [
      { lightness: 100 },
      { visibility: "simplified" }
    ]
  },{
    featureType: "road",
    elementType: "labels",
    stylers: [
      { visibility: "off" }
    ]
  }
];
  map.setOptions({styles: styles});

    // var projectLocs=[];
    // var infoWindowContent=[];
    // $.each(projects, function(index) { 
    //     projectLocs.push([projects[index]["title"], projects[index]["lat"],projects[index]["lng"]]);
    //     infoWindowContent.push(['<div class="info_content" >' +
    //     '<h3 style="color: rgb(<%= rand(0..200)%>,<%= rand(0..200)%> ,<%= rand(0..200)%>);">'+nearbys[index]['title']+'</h3>' +'</br>'+
    //     '<p>'+nearbys[index]['about']+'</p>' +       
    //      '</div>']);

    //     });  

    var projectLocs = [["duoduo", 38.8738225, -76.9949, 1],["daojie", 38.897676, -77.036530,2],["lainanddaniel",40.7127,-74.0059,3]]
      var infoWindowContent =  [["Duoduo's engagement photo</br>" +
                      '<img src="http://41.media.tumblr.com/e979ae71b59eac64454a12a93c332c3b/tumblr_not2e5qkCJ1u9c74so1_1280.jpg" >' +
                      '<p>duoduo engagement photo</p>' +
                       '<p><a href="http://localhost:3000/projects">'+ 
                       'More pictures</a> '],["projectLocs[0]</br>"] ]

    var image = 'http://labs.google.com/ridefinder/images/mm_20_white.png';
    var infoWindow = new google.maps.InfoWindow({ maxWidth: 200 }), marker, i; 
    for (var i = 0; i < projectLocs.length; i++) {
        var position = new google.maps.LatLng(projectLocs[i][1], projectLocs[i][2]);
          bounds.extend(position);
        var projectLoc = projectLocs[i];
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          icon: image,
          title: projectLoc[0]
    });
   // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));
  
      map.fitBounds(bounds);

    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(8);
        google.maps.event.removeListener(boundsListener);
    });

}//initialize ends


    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXobtnTAieRk5q1VlKXLL6g660aSZRDPE&callback=initMap">
    </script>
</body>

</html>
