<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My OO</title>


    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

  </head>
  <body>
  
    <!-- NAVIGATION MENU -->
    <%= render 'shared/nav' %>


    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>User Profile</dtitle>
            <hr>
        <div class="thumbnail">
           <%= image_tag @user.avatar_url(:thumb) ,class:"img-circle"%>
        </div><!-- /thumbnail -->
        <h1><%= @user.name %></h1>
        <h3></h3>
        <br>
          <div class="info-user">
            <span aria-hidden="true" class="fa fa-user fs1"></span>
            <span aria-hidden="true" class="fa fa-cog fs1"></span>
            <span aria-hidden="true" class="fa fa-envelope-o fs1"></span>
            <span aria-hidden="true" class="fa fa-key fs1"></span>
          </div>
        </div>
        </div>
   
       <% @blog.each do |story| %>
        <div class="col-sm-3 col-lg-3">
          <div class="picture dash-unit">
            <dtitle><%=  story.title %> </dtitle>
        <div class="thumbnail">
          <%= link_to blog_post_path(story) do%>
          <% if  story.videolink.present? %>
          <iframe title="YouTube video player" width="180" height="180" src=<%= story.videolink%> frameborder="0" allowfullscreen></iframe>
          <%else%>
          <%= image_tag story.image_url(:thumb) if story.image? %>
          <%end%>
        </div>
        <h1><%= story.category.name %></h1>
        <h3><%=story.created_at%></h3>
        </div>
        </div>
        <%end%>
        <% end %>
        
   
  </div>
    
      
    <!-- SECOND ROW OF BLOCKS -->     
      <div class="row">  

            <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>User's story</dtitle>
            <hr>
        <div class="info-user">
          <span aria-hidden="true" class="li_news fs2"></span>
        </div>
        <br>
            <div class="text">
              <p><%= @user.story %></p>
              <p><grey><%=@user.email%></grey></p>
            </div>
          </div>
        </div>

     <!-- LATEST NEWS BLOCK -->  
       <% @blog2.each do |story| %>
        <div class="col-sm-3 col-lg-3">
          <div class="picture dash-unit">
            <dtitle><%=  story.title %> </dtitle>
        <div class="thumbnail">
          <%= link_to blog_post_path(story) do%>
          <% if  story.videolink.present? %>
          <div class="video">
          <p><%= raw (youtube_embed(story.videolink))%></p>
          </div>
          <%else%>
          <%= image_tag story.image_url(:thumb) if story.image? %>
          <% end %>
        </div>
        <h1><%= story.user.name %></h1>
        <h3><%=story.created_at%></h3>
        </div>
        </div>
        <%end%>
        <%end%>

        
  
      </div>


    <div class="container">  
    <div class="row">
      <% if @user == current_user %>
      <!-- control panel -->
      <%= link_to new_blog_post_path  do%>
      <p class="btn btn-default btn-lg">Add new Blog</p>
      <%end%>
      <%end%>
      <!-- Edit profile -->
      <% if @user == current_user %>
      <p class="btn btn-default btn-lg"><%= link_to "Edit Profile", edit_oo_path %></p>
      <%end%>
      <!-- sign out -->
      <% if @user == current_user %>
      <p class="btn btn-default btn-lg"><% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      <% end %>
      </p>

    </div>
    </div>
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; OOStudio 2015</p>
        </div>
    </footer>

</body>
</html>



