  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
    <li><%= link_to"Studio",about_path%></li>
    <li><%= link_to"Blog",blog_posts_path%></li>
    <li><%= link_to"Work",projects_path%></li>
    <% if user_signed_in? %>
    <li><%= link_to"My story",oo_path(@user)%></li>
    <% else %>
    <li><%= link_to"Tell your story",join_path%></li>
   <%end%>

    </ul>
    </div>

<h1>Your profile picture is here</h1>

<! edit profile>
<% if @user == current_user %>
<p><%= link_to "Edit", edit_oo_path %></p>
<%end%>
<p><%= @user.email %></p>
<p><%= @user.name %></p>
<p><%= @user.story %></p>
<p><%= @user.last_sign_in_at %></p>
<p><%= image_tag @user.avatar_url(:thumb) if @user.avatar? %></p>

<! show the user's posts as a thumb nail >

<div>
<p>my Storybook</p>
<% if @user == current_user %>
<p><%= link_to "Add new", new_blog_post_path %></p>
<%end%>
<% @blog.each do |story| %>
   <li><%= link_to story.title ,blog_post_path(story)%></li>
   <p><%= image_tag story.image_url(:thumb) if story.image? %></p>
<% end %>

</div>



<! sign in and sign out, small, bottom>
<% if @user == current_user %>
<p><% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
<% end %>
<% end %>




