<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OO Studio</title>

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- NAVIGATION MENU -->
<%= render 'shared/nav' %>



        <div class="container">

            <div class="row content-section text-center">
                <div class="col-lg-10 col-lg-offset-1">

                    <div class="row content-section">
                        <% @projects.each do |project| %>
                        <%= link_to project_path(project) do %>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="dash-unit projectunit">                              
                                <div class="thumbnail">
                                <% if  project.images.present? %>
                                  <iframe title="YouTube video player" width=100% height= auto src=<%= project.videolink%> frameborder="0" allowfullscreen></iframe>
                                  <%else%>
                                    <%= image_tag project.images.first.name, size: 100*100%>
                                  <%end%>
                                  <div class="card-block">
                                    <div class="caption">
                                        <div class="post-title">
                                        <h1><%=project.title%></h1>
                                        <h1><%=project.address%></h1>
                                        </div>
                                        </div>
                                    </div>
                                </div><!-- /thumbnail -->
                            </div>
                        </div>
                        <% end %>  
                        <% end %>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>

</body>
</html>
<!--    
    <div class="container">
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=project.title%>
                    <small><%= project.tag%></small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7", width = 100px >
            <%= image_tag project.images.first.name, size: 100*100%>
            </div>
            <div class="col-md-5">
         <% end %>  
        <% end %>
            </div>
        </div>-->

        <hr>
        
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; OOStudio 2015</p>
        </div>
    </footer>


</body>

</html>
